{% extends "base.html" %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
<div class="container">
    <h2>Estadísticas</h2>
    <div id="graph" class="mb-4">
        {{ graph_html|safe }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Sector</th>
                <th>Total Consumido</th>
                <th>Predicción de Consumo</th>
            </tr>
        </thead>
        <tbody>
            {% for consumo in consumos %}
            <tr>
                <td>{{ consumo.nombre }}</td>
                <td>{{ consumo.total_consumido }}</td>
                <td>{{ predicciones[consumo.nombre] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('download_report') }}" class="btn btn-primary mt-3">Descargar Reporte</a>
</div>
{% endblock %}
