<div>
    <h2 class="mt-4">Stock de Tóners</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Cantidad Actual</th>
                    <th>Stock Mínimo</th>
                </tr>
            </thead>
            <tbody>
               
                {% for toner in toners %}
                {% set width = (toner.cantidad_actual / toner.preferences.min_stock) * 100 %}
                <tr>
                    <td>{{ toner.modelo }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar {% if toner.cantidad_actual < toner.preferences.min_stock %}bg-danger{% else %}bg-success{% endif %}" 
                                role="progressbar" 
                                style="width: {{ width }}%" 
                                aria-valuenow="{{ toner.cantidad_actual }}" 
                                aria-valuemin="0" 
                                aria-valuemax="{{ toner.preferences.min_stock }}">
                                {{ toner.cantidad_actual }}
                            </div>
                        </div>
                    </td>
                    <td>{{ toner.preferences.min_stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>