body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #343a40;
}

.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid #dee2e6;
}

th, td {
    padding: 12px;
    text-align: left;
}


th {
    background-color: #343a40;
    color: white;
}

.revert {
    background-color: rgb(255, 152, 152);
    color: white;
}

.progress {
    height: 25px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
    color: white;
    line-height: 25px;
}

.progress-bar.bg-danger {
    background-color: #dc3545;
}

.progress-bar.bg-success {
    background-color: #28a745;
}

.btn.btn-dark {
    background-color: #343a40;
    color: white;               
    padding: 10px 20px;         
    border: none;              
    border-radius: 10px;         
    cursor: pointer;            
    margin-top: 10px;           
}

button:hover {
    background-color: #495057;
}

.navbar {
    margin-bottom: 20px;
}
